body {
  background-color: rgb(249, 253, 228);
  margin: 0;
}

* {
  color: rgb(53, 52, 52);
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.line {
  opacity: 0;
}

.icon-img {
  width: 100px;
}

.coef-icon {
  color:rgb(235, 96, 96);
  font-size: 20px;
}

/* Header */

.header-image {
  width: 110px;
}

.header-img-container {
  flex-direction: row;
}

header > h2 {
  margin-top: 30px;
  font-weight: 800;
}

.corr-guide {
  background-color: rgba(255, 241, 233, 0.341);
  padding: 10px;
  margin: 15px;
  border:rgb(53, 52, 52) 1px solid;
}

.corr-guide > h5 {
  margin: 10px;
  font-size: 30px;
}

.corr-guide > span {
  color: rgb(215, 71, 71);
  font-size: 19px;
  margin: 2px;
  font-weight: 700;
}

/*Correlation Choice*/

.correlation-choice-div {
  margin: 10px;
}

.correlation-choice-div > label {
  margin: 5px;
}

#corr-choice, #first-corr-choice, #second-corr-choice {
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(246, 211, 136);
}

#first-corr-choice, #second-corr-choice {
  background-color: rgb(232, 90, 29);
  color: white;
  font-size: 18px;
}


/*Correlation Button*/

 .game-div .run-corr-btn {
  background-color: rgb(255, 218, 68);
  color: rgb(28, 28, 28);
}

 .game-div .run-corr-btn:hover {
  background-color: rgb(212, 104, 58);
  color: rgb(255, 248, 233);
}


.corr-btn {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: black;
  color: rgb(255, 232, 130);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.corr-btn:hover {
  background-color: rgb(255, 222, 101);
  color: black;
  cursor: pointer;
  transition: all linear 500ms;
}

#result-percentage {
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(235, 96, 96);
  font-size: 40px;
  font-weight: 800;
}

#analysis-text {
  font-size: 20px;
}

/* The Game */

.game-div {
  background-color: rgba(228, 250, 162, 0.711);
  margin-bottom: 20px;
}

.game-div > h2 {
  text-decoration: underline;
  margin-top: 30px;
  font-weight: 800;
}

.game-div > span {
  margin: 5px;
  width: 60%;
  font-size: 18px;
}

.variables-div {
  flex-direction: row;
  justify-content:space-evenly;
  margin-top: 30px;
}

.variable-list-div > h2 {
  margin: 30px;
}

.first-variable-div, .second-variable-div {
  margin: 20px;
}

.flex > h3 {
  font-weight: 700;
}

#str-var-correlation, #final-analysis, #analysis-text {
  font-size: 30px;
  color:rgb(227, 83, 83);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 800;
}

#final-analysis, #analysis-text {
  font-size: 20px;
}

#winner {
  width: 350px;
}

#winning-img {
  width: 200px;
  margin-bottom: 30px;
}

/* List of All Variables */

.item-div {
  flex-direction: column;
}

.item-div > h4 {
  margin: 10px;
  font-weight: 700;
}

.variable-line {
  opacity: 1;
  border: 1px solid black;
  width: 80%;
}

/* Significant Div */
.main-significant-div {
  display: flex;
  flex-direction: row;
}

.first-variable-img, .second-variable-img, .arrow-img {
  width: 100px;
  margin: 10px;
}

.sig-corr-text {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.sig-corr-color {
  color:rgb(215, 71, 71);
}

.variable-div {
  margin: 20px;
}

#significant-div {
  margin-bottom: 30px;
}

/* Media Query */
@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(246, 255, 188);
    margin: 15px;
  }

  .variables-div {
    flex-direction: column;
    justify-content:space-evenly;
    margin-top: 30px;
  }

  .game-div {
    background-color: rgba(228, 250, 162, 0);
    margin-bottom: 20px;
  }

  .game-div > span {
    margin: 5px;
    width: 90%;
    font-size: 18px;
  }

  .line {
    opacity: 1;
  }
}